In [74]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [75]:
df = pd.read_csv('lane.csv',delimiter=";")

In [76]:
print(df.shape)
m = df.shape[0]
n = df.shape[1]

(962721, 10)

In [77]:
Y = df[df.columns[2]]

In [78]:
df.head()

,timestep_time,vehicle_slope,vehicle_lane,vehicle_angle,vehicle_type,vehicle_pos,vehicle_y,vehicle_x,vehicle_speed,vehicle_id
0,0.0,0.0,-1356_0,-101.40,Bus,6.1,555.85,1588.94,0.0,BusFlowEastWest0.0
1,0.0,0.0,28925528_0,-44.63,Bus,6.1,722.81,1270.66,0.0,BusFlowNorthSouth0.0
2,0.0,0.0,239331354_0,160.22,Bus,6.1,471.48,1183.77,0.0,BusFlowSouthNorth0.0
3,0.0,0.0,-240120122_0,67.65,Bus,6.1,711.28,874.23,0.0,BusFlowWestEast0.0
4,0.0,0.0,-1274_0,16.81,Vehicle,4.1,517.45,1849.76,0.0,VehicleFlowEastToNorth.0

In [79]:
print(Y.head())
print(type(Y))

0         -1356_0
1      28925528_0
2     239331354_0
3    -240120122_0
4         -1274_0
Name: vehicle_lane, dtype: object
<class 'pandas.core.series.Series'>

In [80]:
X1 = df[df.columns[0:2]]
X2 = df[df.columns[3:]]
print(type(X1))
print(type(X2))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [81]:
X = pd.concat([X1,X2],axis=1)

In [82]:
X.head()

,timestep_time,vehicle_slope,vehicle_angle,vehicle_type,vehicle_pos,vehicle_y,vehicle_x,vehicle_speed,vehicle_id
0,0.0,0.0,-101.40,Bus,6.1,555.85,1588.94,0.0,BusFlowEastWest0.0
1,0.0,0.0,-44.63,Bus,6.1,722.81,1270.66,0.0,BusFlowNorthSouth0.0
2,0.0,0.0,160.22,Bus,6.1,471.48,1183.77,0.0,BusFlowSouthNorth0.0
3,0.0,0.0,67.65,Bus,6.1,711.28,874.23,0.0,BusFlowWestEast0.0
4,0.0,0.0,16.81,Vehicle,4.1,517.45,1849.76,0.0,VehicleFlowEastToNorth.0

In [83]:
remove = X.columns[0:2]
print(remove)

Index(['timestep_time', 'vehicle_slope'], dtype='object')

In [84]:
X = X.drop(labels=remove,axis=1)

In [85]:
X.head(10)

,vehicle_angle,vehicle_type,vehicle_pos,vehicle_y,vehicle_x,vehicle_speed,vehicle_id
0,-101.40,Bus,6.1,555.85,1588.94,0.0,BusFlowEastWest0.0
1,-44.63,Bus,6.1,722.81,1270.66,0.0,BusFlowNorthSouth0.0
2,160.22,Bus,6.1,471.48,1183.77,0.0,BusFlowSouthNorth0.0
3,67.65,Bus,6.1,711.28,874.23,0.0,BusFlowWestEast0.0
4,16.81,Vehicle,4.1,517.45,1849.76,0.0,VehicleFlowEastToNorth.0
5,-93.35,Vehicle,4.1,420.70,1853.89,0.0,VehicleFlowEastToWest_0.0
6,-45.05,Vehicle,4.1,759.18,2349.98,0.0,VehicleFlowEastToWest_1.0
7,18.54,Vehicle,4.1,1044.08,599.52,0.0,VehicleFlowWestToEast.0
8,71.40,Vehicle,4.1,681.40,984.27,0.0,VehicleFlowWestToEast_0.0
9,58.74,Vehicle,4.1,778.93,734.83,0.0,VehicleFlowWestToSouth.0

In [86]:
len(X.vehicle_id.unique())

5104

In [87]:
Y = pd.DataFrame(data=Y,columns=['vehicle_lane'])

In [88]:
type(Y)

pandas.core.frame.DataFrame

In [89]:
Y.head()

   vehicle_lane
0       -1356_0
1    28925528_0
2   239331354_0
3  -240120122_0
4       -1274_0

In [90]:
len(Y.vehicle_lane.unique()) ## 209 unique lanes exist

209

In [91]:
print(len(Y))

962721

In [92]:
Y.head(10)

    vehicle_lane
0        -1356_0
1     28925528_0
2    239331354_0
3   -240120122_0
4        -1274_0
5        -1354_0
6      -1280#0_0
7      -1328#0_0
8  229259796#0_0
9        -1324_0

In [175]:
X.columns
type(X)

pandas.core.frame.DataFrame

In [94]:
print(X.dtypes)

vehicle_angle    float64
vehicle_type      object
vehicle_pos      float64
vehicle_y        float64
vehicle_x        float64
vehicle_speed    float64
vehicle_id        object
dtype: object

In [95]:
boolean_masking = X.dtypes == object 
## boolean masking

In [96]:
print(boolean_masking)

vehicle_angle    False
vehicle_type      True
vehicle_pos      False
vehicle_y        False
vehicle_x        False
vehicle_speed    False
vehicle_id        True
dtype: bool

In [97]:
categorical_columns = X.columns[boolean_masking].tolist()
## converts a list of True and False to a a list of column names matching the index of True with with 
## its respective column name and also converts it into a list

In [98]:
print(categorical_columns)

['vehicle_type', 'vehicle_id']

In [41]:
from sklearn.preprocessing import LabelEncoder

In [42]:
le1 = LabelEncoder()
le2 = LabelEncoder()

In [43]:
print(X.shape)

(962719, 7)

In [44]:
print(X.shape)

(962719, 7)

In [45]:
X[categorical_columns[0]].dropna(inplace=True)

In [46]:
print(len(X[categorical_columns[0]]))

962719

In [47]:
le1.fit(X[categorical_columns[0]])

LabelEncoder()

In [48]:
le1.classes_

array(['Bus', 'Vehicle'], dtype=object)

In [49]:
len(le1.transform(X[categorical_columns[0]]))

962719

In [50]:
le2.fit(X[categorical_columns[1]])

LabelEncoder()

In [51]:
le2.classes_

array(['BusFlowEastWest.0', 'BusFlowEastWest.1', 'BusFlowEastWest.2', ...,
       'VehicleFlowWestToWest2.0', 'VehicleFlowWestToWest6.0',
       'VehicleFlowWestToWest6.1'], dtype=object)

In [56]:
len(le2.transform(X[categorical_columns[1]]))

962719

In [57]:
numerical_data1 = pd.DataFrame(data=le1.transform(X[categorical_columns[0]]),columns=['vehicle_type'])
numerical_data2 = pd.DataFrame(data=le2.transform(X[categorical_columns[1]]),columns=['vehicle_id'])

In [58]:
print(type(numerical_data1))

<class 'pandas.core.frame.DataFrame'>

In [59]:
numerical_data2.head()

   vehicle_id
0        4822
1        1063
2        2481
3        1995
4        2733

In [60]:
X[categorical_columns[0]] = numerical_data1

In [61]:
X[categorical_columns[1]] = numerical_data2

In [62]:
X.head(50)

,vehicle_angle,vehicle_type,vehicle_pos,vehicle_y,vehicle_x,vehicle_speed,vehicle_id
475320,66.36,1,13.00,616.02,1175.12,6.36,3568
862742,-132.31,1,621.52,591.96,1266.92,0.00,2320
688040,102.28,1,575.72,381.22,1790.81,4.16,2061
218014,-44.77,1,27.00,829.65,1374.56,21.58,4126
554549,-161.19,1,82.91,273.80,904.22,20.24,3315
356209,86.92,1,1.64,599.00,1248.06,2.65,4386
130824,103.30,1,7.05,406.21,1874.70,4.32,3956
115459,51.48,1,1.52,581.29,1211.60,0.00,1707
925388,71.40,1,10.20,679.46,990.05,4.25,1574
899287,75.54,1,6.97,582.32,1218.41,0.09,5003
908421,119.13,1,5.51,417.26,1893.36,12.23,931
256170,97.78,1,4.80,578.22,1233.56,0.85,3076
564804,-109.92,1,7.30,700.12,974.24,12.47,251
115551,175.33,1,1.54,607.25,1258.29,8.98,3388
814431,113.62,1,621.54,394.68,1834.34,1.35,4147
246384,-69.39,1,19.47,406.37,1127.64,20.57,4538
381056,71.41,1,186.76,626.28,1158.44,0.00,279
58397,58.73,1,23.78,610.65,1183.98,0.00,3199
58576,22.52,1,96.89,957.38,632.43,13.29,1700
743091,-132.31,1,621.52,588.93,1265.33,0.01,3861
697240,-108.69,1,22.01,643.35,1151.84,11.67,1365
79294,74.26,1,461.67,391.28,1679.38,2.47,518
587203,160.22,1,91.67,551.78,1212.64,0.52,1846
109991,18.54,1,4.10,1044.08,599.52,0.00,740
912530,71.40,1,186.76,623.15,1157.39,0.00,4099
449721,-18.22,1,52.58,683.51,1246.75,13.74,4335
1947,71.41,1,186.76,629.41,1159.50,0.00,3779
363795,-109.26,1,316.13,484.10,1550.67,13.57,4125
583653,97.78,1,5.06,578.26,1233.84,0.00,508
432952,-100.83,1,178.86,443.60,1681.39,13.87,901
666494,130.33,1,127.42,485.68,1993.22,12.56,3793
834121,124.43,1,213.13,536.74,2062.04,12.84,2631
684523,-142.39,1,143.75,832.88,719.40,24.63,1625
49131,75.46,1,7.02,579.15,1217.48,0.00,1889
856923,71.40,1,55.77,664.92,1033.24,12.90,4987
146701,69.17,1,239.33,694.30,954.40,13.50,2985
76386,135.61,1,22.71,869.92,1418.91,21.16,4386
186705,134.45,1,96.91,954.76,1502.49,21.88,709
220045,71.41,1,192.26,627.66,1164.71,0.00,4016
369669,74.26,1,477.29,383.54,1694.68,13.74,4538
791156,-162.87,1,0.46,1057.17,607.12,23.37,5036
219830,58.88,1,23.78,613.21,1186.11,0.00,2471
801039,110.58,1,85.89,345.11,973.93,21.63,3057
906087,113.62,1,615.64,392.33,1828.96,1.41,1282
41296,-142.98,1,191.39,868.67,688.15,24.24,3182
961451,-108.69,1,159.67,687.46,1021.45,13.75,2521
388682,-177.42,1,880.50,1885.01,330.32,24.51,1145
494211,41.98,1,0.18,588.54,1207.91,0.00,258
93650,-99.98,1,5.42,639.25,1226.67,4.23,2290
744293,-18.82,1,4.80,614.71,1204.50,0.67,3828

In [63]:
from sklearn.utils import shuffle

In [64]:
X = shuffle(X)

In [65]:
X.head()

,vehicle_angle,vehicle_type,vehicle_pos,vehicle_y,vehicle_x,vehicle_speed,vehicle_id
886540,98.01,1,557.15,378.35,1772.54,13.85,455
135749,71.40,0,123.44,643.34,1097.38,12.32,88
920630,-29.54,1,75.84,660.01,1241.20,12.65,4530
22701,65.08,1,12.71,621.69,1178.39,0.33,2417
743264,-149.72,1,426.92,1451.37,442.67,24.05,4486

In [66]:
from sklearn.preprocessing import OneHotEncoder

In [67]:
ohe = OneHotEncoder(categorical_features=boolean_masking,sparse=False)

In [68]:
print(X.shape)

(962719, 7)

In [69]:
X.dropna(inplace=True)

In [70]:
print(X.shape)

(962719, 7)

In [71]:
X = ohe.fit_transform(X)

/home/yatin/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/yatin/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

MemoryError:

In [99]:
X.head(10)

,vehicle_angle,vehicle_type,vehicle_pos,vehicle_y,vehicle_x,vehicle_speed,vehicle_id
0,-101.40,Bus,6.1,555.85,1588.94,0.0,BusFlowEastWest0.0
1,-44.63,Bus,6.1,722.81,1270.66,0.0,BusFlowNorthSouth0.0
2,160.22,Bus,6.1,471.48,1183.77,0.0,BusFlowSouthNorth0.0
3,67.65,Bus,6.1,711.28,874.23,0.0,BusFlowWestEast0.0
4,16.81,Vehicle,4.1,517.45,1849.76,0.0,VehicleFlowEastToNorth.0
5,-93.35,Vehicle,4.1,420.70,1853.89,0.0,VehicleFlowEastToWest_0.0
6,-45.05,Vehicle,4.1,759.18,2349.98,0.0,VehicleFlowEastToWest_1.0
7,18.54,Vehicle,4.1,1044.08,599.52,0.0,VehicleFlowWestToEast.0
8,71.40,Vehicle,4.1,681.40,984.27,0.0,VehicleFlowWestToEast_0.0
9,58.74,Vehicle,4.1,778.93,734.83,0.0,VehicleFlowWestToSouth.0

MemoryError:

In [114]:
X.shape

(962721, 7)

In [115]:
X.dropna(inplace=True)

In [116]:
X.shape

(962719, 7)

In [156]:
df = pd.read_csv('lane.csv')

In [157]:
df.dropna(inplace=True)

In [158]:
print(df.shape)

(962721, 1)

In [130]:
df.to_csv('lane2.csv',index=False)

In [146]:
df = pd.read_csv('lane2.csv',delimiter=';',chunksize=100)

In [150]:
ohe.fit(X)

In [136]:
X.columns[boolean_masking]

Index(['vehicle_type', 'vehicle_id'], dtype='object')

In [168]:
from dummyPy import OneHotEncoder

In [169]:
ohe = OneHotEncoder(categorical_columns=['vehicle_type','vehicle_id'])

In [170]:
df = pd.read_csv('lane2.csv',chunksize=1000)

In [171]:
ohe.fit(df)

In [173]:
ohe.transform(df)

AttributeError: 'TextFileReader' object has no attribute 'columns'

In [174]:
type(df)

pandas.io.parsers.TextFileReader