In [230]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [231]:
df = pd.read_csv('lane2.csv')

In [232]:
print(df.shape)

(962719, 10)

In [233]:
df.head()

,timestep_time,vehicle_slope,vehicle_lane,vehicle_angle,vehicle_type,vehicle_pos,vehicle_y,vehicle_x,vehicle_speed,vehicle_id
0,0.0,0.0,-1356_0,-101.40,Bus,6.1,555.85,1588.94,0.0,BusFlowEastWest0.0
1,0.0,0.0,28925528_0,-44.63,Bus,6.1,722.81,1270.66,0.0,BusFlowNorthSouth0.0
2,0.0,0.0,239331354_0,160.22,Bus,6.1,471.48,1183.77,0.0,BusFlowSouthNorth0.0
3,0.0,0.0,-240120122_0,67.65,Bus,6.1,711.28,874.23,0.0,BusFlowWestEast0.0
4,0.0,0.0,-1274_0,16.81,Vehicle,4.1,517.45,1849.76,0.0,VehicleFlowEastToNorth.0

In [234]:
from sklearn.utils import shuffle

In [235]:
df = shuffle(df)

In [236]:
df = df[:50000]

In [237]:
print(df.shape)

(50000, 10)

In [238]:
Y = df.vehicle_lane

In [239]:
print(type(Y))

<class 'pandas.core.series.Series'>

In [240]:
Y = pd.DataFrame(data=Y,columns=['vehicle_lane'])

In [241]:
Y.head()

         vehicle_lane
586919    105490284_0
619157      -1328#0_1
797183  105490279#1_1
489132      -1326#2_0
207215        -1352_1

In [242]:
df = df.drop(labels=['vehicle_lane'],axis=1)

In [243]:
print(df.shape)

(50000, 9)

In [244]:
df.head()

,timestep_time,vehicle_slope,vehicle_angle,vehicle_type,vehicle_pos,vehicle_y,vehicle_x,vehicle_speed,vehicle_id
586919,4511.0,0.0,171.50,Vehicle,12.05,648.90,1249.54,13.45,VehicleFlowWestToNorth4.67
619157,4694.0,0.0,29.84,Vehicle,162.24,897.39,658.04,12.89,VehicleFlowWestToEast6.17
797183,5857.0,0.0,71.99,Vehicle,238.92,462.82,1469.27,13.68,VehicleFlowWestToEast5.27
489132,3877.0,0.0,-160.21,Vehicle,139.95,1191.16,563.51,23.85,VehicleFlowNorthToWest4.6
207215,1571.0,0.0,30.86,Vehicle,1.51,584.11,1213.33,0.02,VehicleFlowWestToEast1_0.65

In [245]:
df = df.drop(labels = ['timestep_time'],axis=1)

In [246]:
df = df.drop(labels = ['vehicle_slope'],axis=1)

In [247]:
print(df.shape)

(50000, 7)

In [248]:
df.head()

,vehicle_angle,vehicle_type,vehicle_pos,vehicle_y,vehicle_x,vehicle_speed,vehicle_id
586919,171.50,Vehicle,12.05,648.90,1249.54,13.45,VehicleFlowWestToNorth4.67
619157,29.84,Vehicle,162.24,897.39,658.04,12.89,VehicleFlowWestToEast6.17
797183,71.99,Vehicle,238.92,462.82,1469.27,13.68,VehicleFlowWestToEast5.27
489132,-160.21,Vehicle,139.95,1191.16,563.51,23.85,VehicleFlowNorthToWest4.6
207215,30.86,Vehicle,1.51,584.11,1213.33,0.02,VehicleFlowWestToEast1_0.65

In [249]:
print(df.columns)

Index(['vehicle_angle', 'vehicle_type', 'vehicle_pos', 'vehicle_y',
       'vehicle_x', 'vehicle_speed', 'vehicle_id'],
      dtype='object')

In [250]:
print(df.dtypes)

vehicle_angle    float64
vehicle_type      object
vehicle_pos      float64
vehicle_y        float64
vehicle_x        float64
vehicle_speed    float64
vehicle_id        object
dtype: object

In [251]:
categorical_encoding = df.dtypes == 'object'

In [252]:
print(categorical_encoding)

vehicle_angle    False
vehicle_type      True
vehicle_pos      False
vehicle_y        False
vehicle_x        False
vehicle_speed    False
vehicle_id        True
dtype: bool

In [253]:
categorical_columns = df.columns[categorical_encoding].tolist()

In [254]:
print(categorical_columns)

['vehicle_type', 'vehicle_id']

In [255]:
df.head()

,vehicle_angle,vehicle_type,vehicle_pos,vehicle_y,vehicle_x,vehicle_speed,vehicle_id
586919,171.50,Vehicle,12.05,648.90,1249.54,13.45,VehicleFlowWestToNorth4.67
619157,29.84,Vehicle,162.24,897.39,658.04,12.89,VehicleFlowWestToEast6.17
797183,71.99,Vehicle,238.92,462.82,1469.27,13.68,VehicleFlowWestToEast5.27
489132,-160.21,Vehicle,139.95,1191.16,563.51,23.85,VehicleFlowNorthToWest4.6
207215,30.86,Vehicle,1.51,584.11,1213.33,0.02,VehicleFlowWestToEast1_0.65

In [256]:
from sklearn.preprocessing import LabelEncoder

In [257]:
le1 = LabelEncoder()
le2 = LabelEncoder()

In [258]:
df['vehicle_type'] = le1.fit_transform(df['vehicle_type'])

In [259]:
df['vehicle_id'] = le2.fit_transform(df['vehicle_id'])

In [260]:
df.head()

,vehicle_angle,vehicle_type,vehicle_pos,vehicle_y,vehicle_x,vehicle_speed,vehicle_id
586919,171.50,1,12.05,648.90,1249.54,13.45,4860
619157,29.84,1,162.24,897.39,658.04,12.89,4129
797183,71.99,1,238.92,462.82,1469.27,13.68,3955
489132,-160.21,1,139.95,1191.16,563.51,23.85,2139
207215,30.86,1,1.51,584.11,1213.33,0.02,3402

In [261]:
len(df['vehicle_type'].unique())

2

In [262]:
len(df['vehicle_id'].unique())

5099

In [263]:
from sklearn.preprocessing import OneHotEncoder

In [267]:
ohe = OneHotEncoder(categorical_features=categorical_encoding,sparse=False)

In [268]:
np = ohe.fit_transform(df)

/home/yatin/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [271]:
print(np.shape)

(50000, 5106)

In [272]:
print(df.shape)

(50000, 7)

In [273]:
from sklearn.neighbors import KNeighborsClassifier

In [277]:
knn = KNeighborsClassifier(n_neighbors=7)

In [275]:
print(np.shape)

(50000, 5106)

In [276]:
print(Y.shape)

(50000, 1)

In [278]:
knn.fit(np,Y)

/home/yatin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='uniform')

In [279]:
knn.predict(np[0:5])

array(['105490284_0', '-1328#0_1', '105490279#1_1', '-1326#2_0',
       '-1352_1'], dtype=object)

In [280]:
print(Y[0:5])

         vehicle_lane
586919    105490284_0
619157      -1328#0_1
797183  105490279#1_1
489132      -1326#2_0
207215        -1352_1

In [281]:
knn.score(np,Y)

0.98338

In [282]:
from sklearn.linear_model import LogisticRegression

In [283]:
lr = LogisticRegression()

In [284]:
lr.fit(np,Y)

/home/yatin/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/yatin/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/yatin/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [285]:
lr.score(np,Y)

0.74668