In [44]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [45]:
df = pd.read_csv('lane.csv',delimiter=";")

In [46]:
print(df.shape)

(962721, 10)

In [47]:
Y = df['vehicle_lane']

In [48]:
df.head()

,timestep_time,vehicle_slope,vehicle_lane,vehicle_angle,vehicle_type,vehicle_pos,vehicle_y,vehicle_x,vehicle_speed,vehicle_id
0,0.0,0.0,-1356_0,-101.40,Bus,6.1,555.85,1588.94,0.0,BusFlowEastWest0.0
1,0.0,0.0,28925528_0,-44.63,Bus,6.1,722.81,1270.66,0.0,BusFlowNorthSouth0.0
2,0.0,0.0,239331354_0,160.22,Bus,6.1,471.48,1183.77,0.0,BusFlowSouthNorth0.0
3,0.0,0.0,-240120122_0,67.65,Bus,6.1,711.28,874.23,0.0,BusFlowWestEast0.0
4,0.0,0.0,-1274_0,16.81,Vehicle,4.1,517.45,1849.76,0.0,VehicleFlowEastToNorth.0

In [49]:
Y.head()

0         -1356_0
1      28925528_0
2     239331354_0
3    -240120122_0
4         -1274_0
Name: vehicle_lane, dtype: object

In [57]:
X1 = df[df.columns[0:2]]
X2 = df[df.columns[3:]]